* {
  box-sizing: border-box;
  font-family: var(--inter) !important;
}

/* @font-face {
  font-family: "Aptos";
  src: local("aptosSemibold"),
    url("../fonts/aptosSemibold.ttf") format("truetype");
} */

:root {
  /* --inter: "Lexend Deca", "sans-serif"; */
  --inter: Open Sans, sans-serif;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --gray7: #f5f5f5;
  --gray8: #f8f8f8;
  --neutral-gray: #565454;
  --neutral-black: #212121;
  --orange-color: #f7870e;
  --orange-color2: #f7870e;
  --light-orange-hover: #f7860e30;
  --blue-text: #277cfb;
  --default-background-color: #fff;
  --calendar-border-color: #ddd;
  --calendar-slot: #b8e3f1e0;
  --table-selected: #f9a8523e;
  --table-hover: #f7860e19;
  --calendar-slot-border: #3c83e6;
  --calendar-slot-text: #272ad0;
  --data-value: #4d5a66;
  --data-label: #798d9c;
  --table-background: #f5f7fa;
  --table-border: #abbed1;
  --table-data: #717171;
  --calendar-today-back-color: #bde2ff;
  --calendar-event-back-color: #0078d4;
  --calendar-bar-color: #03599a;
}

body {
  background-color: var(--default-background-color);
  margin: 0px;
}
.userManualDiv {
  height: 70vh;
  border: 3px solid white;
}
/* antd global css  */
.ant-avatar > img {
  width: 30px;
  height: 30px;
}
.ant-form-item .ant-form-item-label > label {
  font-size: 12px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--gray2);
  display: flex !important;
}

.ant-layout-header {
  background-color: var(--default-background-color);
  height: unset;
  padding: unset;
  color: unset;
  line-height: 30px;
}
.ant-layout {
  height: 100vh;
  background-color: rgb(245, 248, 251);
  overflow-y: scroll;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 10px;
}
.ant-table-wrapper .ant-table {
  border-radius: unset;
}
.ant-table-wrapper .ant-table-container {
  border-start-start-radius: unset;
  border-start-end-radius: unset;
}
.ant-table-wrapper .ant-table .ant-table-header {
  border-radius: unset;
  border: 1px solid var(--table-border);
}
.ant-table-wrapper table {
  border-radius: unset;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: unset;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: var(--neutral-black);
  background-color: var(--table-background) !important;
  /* border-top: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border); */
  border: unset;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: var(--table-data);
}
.ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody > tr > td {
  padding: 0px 5px !important;
}
.ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background-color: var(--table-selected) !important;
}

.ant-modal-root .ant-modal {
  width: 650px !important;
}
.ant-collapse-item > .ant-collapse-header {
  padding: 5px;
  border-radius: unset !important;
  border: unset !important;
}
.ant-collapse > .ant-collapse-item {
  border: unset !important;
}
.ant-collapse {
  background-color: unset;
  border: unset;
  border-radius: unset;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 5px;
}
.ant-upload-text {
  font-size: 12px;
}
.cursorPointer {
  cursor: pointer !important;
}
.cursorNotAllowed {
  cursor: not-allowed !important;
}
.ant-checkbox .ant-checkbox-inner {
  /* background-color: #ffffff; */
  border: 1px solid #000;
  border-radius: unset;
}
.ant-input {
  border-radius: 3px !important;
}
.ant-select-single .ant-select-selector {
  border-radius: 3px !important;
}
.ant-btn {
  border-radius: 4px !important;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: transparent !important; /* or any other color */
  border-color: inherit !important; /* optional: keep the border color unchanged */
  color: inherit !important; /* optional: keep the text color unchanged */
}
/* SCROLLBAR CSS  */

::-webkit-scrollbar {
  height: 5px !important;
  width: 50% !important;
  border-radius: 8px !important;
}
.titleFilterWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.ant-menu .ant-menu-item {
  border-radius: 64px;
}
.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
  margin: 8px -3px;
}
.ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  width: 50px !important;
  margin: auto;
}
/* antd range picker  */
.ant-picker-dropdown {
  font-size: 10px;
}
.ant-picker-dropdown .ant-picker-cell {
  padding: unset !important;
}
.font10 {
  font-size: 10px !important;
}
.ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: unset;
  color: unset;
}
.ant-form-item .ant-form-item-label > label::after {
  display: none;
}
/* Toolbar css  */
.opportunitiesSwitchDivItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--gray4);
  padding: 5px;
  color: var(--gray2);
  cursor: pointer;
  background-color: var(--default-background-color);
  border-radius: 4px;
}
.opportunitiesSwitchDivItem:hover {
  background-color: var(--gray6);
}
.opportunitiesSwitchDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.opportunitiesSearchResetBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
/* Lookup  */
.hyperlinkForLookup {
  color: var(--orange-color);
  text-decoration: underline;
  cursor: pointer;
}
.hyperlinkBlue {
  color: var(--blue-text) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
.backArrow {
  color: var(--gray2);
  font-size: 15px;
  cursor: pointer;
}
.resetFilterBtn {
  color: var(--orange-color);
  font-size: 13px;
  cursor: pointer;
}
.grayText {
  color: var(--gray3);
  font-size: 14px;
}
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  display: unset !important;
}

/* Overlay loader css */

.css-lzr3bi-LoadingOverlayWrapperBase {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px !important;
}
/* .css-e7nvmg-LoadingOverlayWrapperBase {
  padding: 20px !important;
  margin: 20px 0 !important;
} */

/* ILLUSTRATION ICON SELECTED  */
.illustrationIcon {
  width: 25px;
}

/* GLOBAL TITLE AND ICON  */
.tableTitleIconWrapper {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--gray2);
  display: flex;
  align-items: center;
  gap: 5px;
}
.opportunitysSelectViewWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--default-background-color);
  box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0px 20px;
}
/* OWNER  */
.opportunityInfo1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
  border-radius: 4px;
  margin-bottom: 10px;
  /* height: 170px; */
  justify-content: center;
  flex-grow: 1;
}
.opportunityInfo1CompanyNameLabel {
  letter-spacing: 0em;
  text-align: left;
  text-size-adjust: 10%;
  font-size: 13px;
  color: var(--data-value);
  font-weight: 900;
  line-height: 27px;
  display: flex;
  align-items: center;
}
.opportunityOwnerDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.opportunityOwnerInfo {
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  justify-content: top;
}
.opportunityInfo1CompanyName {
  letter-spacing: 0em;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: var(--data-label);
  text-size-adjust: 10%;
  line-height: 27px;
  margin: unset;
}
.opportunitysSelectView1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.opportunitysViewTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: var(--gray2);
}
.listRelatedViewBackWrapper {
  padding: 20px 10px;
  height: auto;
  background-color: var(--default-background-color);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.05),
    0 3px 6px -4px rgba(0, 0, 0, 0.05), 0 9px 28px 8px rgba(0, 0, 0, 0.01);
  border-radius: 4px;
}
.dashboardWrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
  padding: 20px;
  border-radius: 5px;
  /* height: 89vh; */
}
.auditAvtar {
  width: 25px;
  height: 25px;
  background-color: rgb(239, 192, 117);
}
.auditAvtarFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.addLeadSubmitBtnWrapper {
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 20px;
}
.addLeadCancelBtn {
  background-color: var(--default-background-color);
  color: var(--gray2);
  border: 1px solid var(--neutral-black);
  margin-right: 10px;
}
.addLeadSubmitBtn {
  background-color: var(--orange-color);
  border: none;
  color: var(--default-background-color);
}

.pipelineTitle {
  color: var(--gray2);
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
}
.ownerNameInListView {
  text-transform: capitalize;
}

.ant-menu-inline .ant-menu-item {
  margin-block: 20px !important;
}

@media only screen and (max-width: 600px) {
  .ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
    width: 30px !important;
  }
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0 4px !important;
}
/* MUI CSS  */
.MuiDataGrid-root {
  background-color: var(--default-background-color) !important;
  color: var(--gray1) !important;
}
.MuiDataGrid-columnHeaderTitle {
  color: var(--neutral-black) !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  font-family: var(--font-family) !important;
}
.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: var(--gray3) !important;
}
/* For black background and white font  */
/* .css-n3fyjk-MuiDataGrid-root .MuiDataGrid-container--top [role="row"],
.css-n3fyjk-MuiDataGrid-root .MuiDataGrid-container--bottom [role="row"] {
  background-color: var(--neutral-black) !important;
  color: var(--default-background-color) !important;
}
.css-t89xny-MuiDataGrid-columnHeaderTitle {
  color: var(--default-background-color) !important;
} */
/* For light orange background and black font  */
.MuiDataGrid-root .MuiDataGrid-container--top [role="row"],
.MuiDataGrid-root .MuiDataGrid-container--bottom [role="row"] {
  background-color: #f2f2f2 !important;
}
/* For black background and orange font  */
/* .css-n3fyjk-MuiDataGrid-root .MuiDataGrid-container--top [role="row"],
.css-n3fyjk-MuiDataGrid-root .MuiDataGrid-container--bottom [role="row"] {
  background-color: var(--neutral-black) !important;
}
.css-t89xny-MuiDataGrid-columnHeaderTitle {
  color: #f7870e !important;
} */
.relatedViewSearchBar {
  border: 1px solid var(--gray5) !important;
  padding: "2px 5px" !important;
}
/* ANTD TAGS  */
.appointmentTagWrapper .ant-tag {
  width: 100% !important;
  height: 30px !important;
  display: flex !important;
  font-size: 12px !important;
  align-items: center !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
  gap: 5px !important;
}
.appointmentTagWrapper .ant-flex {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}
.appointmentTagWrapper {
  margin-top: 10px !important;
}
.ant-picker-outlined {
  width: 100%;
}
.ant-select-single {
  height: unset !important;
}

/* MUI DATA GRID  */
.pricingInnerDivProfile
  .css-n3fyjk-MuiDataGrid-root
  .MuiDataGrid-withBorderColor {
  padding-left: 30px !important;
}
.pricingInnerDivProfile
  .css-n3fyjk-MuiDataGrid-root
  .MuiDataGrid-cell--textLeft {
  padding-left: 30px !important;
}
.recaptchaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .ant-select-single {
    width: 100% !important;
  }
  .layoutHeader {
    padding: 10px !important;
  }
  .MuiDataGrid-root .MuiDataGrid-container--top [role="row"],
  .MuiDataGrid-root .MuiDataGrid-container--bottom [role="row"] {
    height: 35px !important;
  }
  .MuiDataGrid-root .MuiDataGrid-withBorderColor {
    height: unset !important;
    width: unset !important;
    border: 1px solid red;
  }
  .MuiDataGrid-columnHeaderTitle {
    font-size: 11px !important;
  }
  .MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    font-size: 11px !important;
  }
  .opportunitiesSearchResetBar {
    width: 100%;
  }
  .opportunitysViewTitle {
    font-size: 14px;
  }
}
